/*------------------------------------------------------------------
[Master Stylesheet For Dark]

Project:	Superieur Admin - Responsive Admin Template
-------------------------------------------------------------------*/

body.dark {
    color: #b5b7bf;
}
.dark a {
    color: #dadada;
}
.dark .form-control {
    background-color: #414755;
	color: #ffffff;
}
.dark .search-box .app-search .srh-btn {
    background: #414755;
}
.dark .dropdown-menu {
    /*background-color: #414755;*/
}
.dark .navbar-nav>.user-menu>.dropdown-menu>.user-body {
    border-color: #4e5165;
}
.dark .dropdown-menu>li>a {
    color: #b5b7bf;
}
.dark .dropdown-divider {
    border-color: #4e5165;
}
.dark .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a, .dark .navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, .dark .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
    border-color: #4e5165;
}
.dark .navbar-nav>.messages-menu>.dropdown-menu>li.header, .dark .navbar-nav>.notifications-menu>.dropdown-menu>li.header, .dark .navbar-nav>.tasks-menu>.dropdown-menu>li.header {
    border-color: #4e5165;
}
.dark .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>h4, .dark .navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, .dark .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a>h3 {
    color: #b5b7bf;
}
.dark .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:hover, .dark .navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a:hover, .dark .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a:hover {
    background: rgba(0, 0, 0, 0.2);
}
.dark .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>h4>small {
    color: #b5b7bf;
}
.dark .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>span {
    color: #b5b7bf;
}

.dark .content-wrapper {
    /*background-color: #313640;*/
    background: #fff;
}
.dark .content-header .page-title {
  color: #2a3b4c;
	border-color: #868686;
  font-weight: bold;
}
.dark .content-header .right-title .dropdown>.btn {
    border-color: #4e5165!important;
    background: #414755;
}

.dark .subheader_daterange {
    background: #414755;
}
.dark .dropdown-menu, .dropdown-grid {
    border-color: #b0b7e4;
    border-radius: 5px;
}
.dark .ranges li {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #4e5165;
    color: #b5b7bf;
}
.dark .btn-default {
    background-color: #59606f;
    color: #bcbec7;
    border-color: #4e5165;
}
.dark .btn-default.hover, .dark .btn-default:active, .dark .btn-default:hover {
    background-color: #6d7586;
    border-color: #6d7586;
}
.dark .box, .dark .box-footer, .dark .card {
    background-color: #414755;
}
.dark .box-transparent {
    background-color: transparent;
}

.dark .box-header {
    color: #ffffff;
}
.dark .box[class*=bg-pale]> .box-header {
    color: #455a64;
}
.dark .todo-list>li {
    color: #bcbec7;
}
.dark .box-header, .dark .box-footer  {
    border-color: #4e5165;
}
.dark .box .box-header .box-subtitle {
    color: #b5b7bf;
}
.dark .btn-box-tool:hover, .dark .show .btn-box-tool {
    color: #b5b7bf;
}
.dark .box-solid .box-body {
    background-color: #414755 !important;
    color: #b5b7bf;
}
.dark .page-header {
    border-color: #4e5165;
}
.dark .box-inverse{
  color: #fff !important;
  background-color: #465161;
}
.dark .box-inverse .box-header{
  color: #fff !important;
}
.dark .box-inverse .box-title{
  color: #ffffff !important;
}
.dark .box-inverse h1, .dark .box-inverse h2, .dark .box-inverse h3, .dark .box-inverse h4, .dark .box-inverse h5, .dark .box-inverse h6,
.dark .box-inverse small,
.dark .box-inverse .box-controls li > a {
  color: rgba(255, 255, 255, 0.8) !important;
}

.dark .box-inverse .box-btn-more::before,
.dark .box-inverse .box-btn-more::after {
  border-color: #fff;
}

.dark .box-inverse .box-header,
.dark .box-inverse .box-footer,
.dark .box-inverse .box-action {
  border-color: rgba(255, 255, 255, 0.15);
}

.dark .box-primary {
  background-color: #7460ee;
}

.dark .box-primary.box-bordered {
  border-color: #7460ee;
}

.dark .box-secondary {
  background-color: #646b79;
}

.dark .box-secondary.box-bordered {
  border-color: #646b79;
}

.dark .box-success {
  background-color: #36bea6;
}

.dark .box-success.box-bordered {
  border-color: #36bea6;
}

.dark .box-info {
  background-color: #2962FF;
}

.dark .box-info.box-bordered {
  border-color: #2962FF;
}

.dark .box-warning {
  background-color: #ffbc34;
}

.dark .box-warning.box-bordered {
  border-color: #ffbc34;
}

.dark .box-danger {
  background-color: #f62d51;
}

.dark .box-danger.box-bordered {
  border-color: #f62d51;
}

.dark .box-pink {
  background-color: #e83e8c;
}

.dark .box-pink.box-bordered {
  border-color: #e83e8c;
}

.dark .box-purple {
  background-color: #7460ee;
}

.dark .box-purple.box-bordered {
  border-color: #7460ee;
}

.dark .box-brown {
  background-color: #8d6658;
}

.dark .box-brown.box-bordered {
  border-color: #8d6658;
}

.dark .box-cyan {
  background-color: #4fc3f7;
}

.dark .box-cyan.box-bordered {
  border-color: #4fc3f7;
}

.dark .box-yellow {
  background-color: #ffbc34;
}

.dark .box-yellow.box-bordered {
  border-color: #ffbc34;
}

.dark .box-gray {
  background-color: #868e96;
}

.dark .box-gray.box-bordered {
  border-color: #868e96;
}

.dark .box-dark {
  background-color: #465161;
}

.dark .box-dark.box-bordered {
  border-color: #465161;
}

.dark .box-bordered {
  border-color: #4e5165;
}

.dark .box .border-right {
    border-right: 1px solid #f4f4f4;
}
.dark .box .border-left {
    border-left: 1px solid #f4f4f4;
}

.dark .box.box-solid.box-default>.box-header {
    color: #455a64;
    background: #d2d6de;
}
.dark .box.box-solid.box-default>.box-header .btn, .dark .box.box-solid.box-default>.box-header a {
    color: #455a64;
}

.dark .box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #7460ee;
}
.dark .box.box-solid.box-primary>.box-header .btn, .dark .box.box-solid.box-primary>.box-header a {
    color: #ffffff;
}

.dark .box.box-solid.box-info>.box-header {
    color: #fff;
    background: #2962FF;
}

.dark .box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #f62d51;
}
.dark .box.box-solid.box-danger>.box-header .btn, .dark .box.box-solid.box-danger>.box-header a {
    color: #ffffff;
}

.dark .box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #ffbc34;
}
.dark .box.box-solid.box-warning>.box-header .btn, .dark .box.box-solid.box-warning>.box-header a {
    color: #455a64;
}

.dark .box.box-solid.box-success>.box-header {
    color: #fff;
    background: #36bea6;
}
.dark .box.box-solid.box-success>.box-header .btn, .dark .box.box-solid.box-success>.box-header a {
    color: #ffffff;
}
.dark .box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none;
}
.dark .box.box-solid[class*=bg]>.box-header {
    color: #fff;
}
.dark .box .overlay, .overlay-wrapper .overlay {
    background: rgba(255, 255, 255, .7);
}
.dark .box .overlay.dark, .overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, .5);
}

.dark .b-1, .dark .bt-1, .dark .br-1, .dark .bb-1, .dark .bl-1, .dark .bx-1, .dark .by-1,
.dark .b-2, .dark .bt-2, .dark .br-2, .dark .bb-2, .dark .bl-2, .dark .bx-2, .dark .by-2 ,
.dark .b-3, .dark .bt-3, .dark .br-3, .dark .bb-3, .dark .bl-3, .dark .bx-3, .dark .by-3 ,
.dark .b-4, .dark .bt-4, .dark .br-4, .dark .bb-4, .dark .bl-4, .dark .bx-4, .dark .by-4 ,
.dark .b-5, .dark .bt-5, .dark .br-5, .dark .bb-5, .dark .bl-5, .dark .bx-5, .dark .by-5 {
  border-color: #6f7286 !important;
}

/*border color Skin*/

.dark .border-primary {
  border-color: #7460ee !important;
}

.dark .border-secondary {
  border-color: #e4e7ea !important;
}

.dark .border-success {
  border-color: #36bea6 !important;
}

.dark .border-info {
  border-color: #2962FF !important;
}

.dark .border-warning {
  border-color: #ffbc34 !important;
}

.dark .border-danger {
  border-color: #f62d51 !important;
}

.dark .border-pink {
  border-color: #e83e8c !important;
}

.dark .border-purple {
  border-color: #7460ee !important;
}

.dark .border-brown {
  border-color: #8d6658 !important;
}

.dark .border-cyan {
  border-color: #4fc3f7 !important;
}

.dark .border-yellow {
  border-color: #ffbc34 !important;
}

.dark .border-gray {
  border-color: #868e96 !important;
}

.dark .border-dark {
  border-color: #465161 !important;
}

.dark .border-transparent {
  border-color: transparent !important;
}

.dark .border-white {
  border-color: #fff !important;
}

.dark .border-light {
  border-color: #f1f2f3 !important;
}

.dark .border-fade {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.dark .text-fade {
    color: rgba(190, 196, 206, 0.7) !important;
}
.dark .text-lighter {
    color: #c2c7ce !important;
}
.dark .text-dark {
    color: #b5b7bf !important;
}
.dark .text-gray {
    color: #d2d6de !important;
}
.dark .text-fader {
    color: rgba(206, 209, 214, 0.5) !important;
}

.dark .bg-lighter {
    background-color: #595f6f !important;
}
.dark .bg-white {
    background-color: #444a56 !important;
}
.dark .bg-light {
    background-color: #535969 !important;
}
.dark .bg-gray {
    background-color: #878f9e;
}
.dark .bg-gray-light {
    background-color: #626a79;
}

/*---------social media background-----------*/
.dark .bg-bitbucket{
	background-color: #205081;
}
.dark .bg-dropbox{
	background-color: #007ee5;
}
.dark .bg-facebook{
	background-color: #3b5998;
}
.dark .bg-flickr{
	background-color: #ff0084;
}
.dark .bg-foursquare{
	background-color: #f94877;
}
.dark .bg-github{
	background-color: #455a64;
}
.dark .bg-google{
	background-color: #dd4b39;
}
.dark .bg-instagram{
	background-color: #e1306c;
}
.dark .bg-linkedin{
	background-color: #007bb6;
}
.dark .bg-tumblr{
	background-color: #2c4762;
}
.dark .bg-twitter{
	background-color: #55acee;
}
.dark .bg-vk{
	background-color: #587ea3;
}


.dark .info-box {
    background: #414755;
}

.dark .badge-default {
    color: #bcbec7;
    background-color: #59606f;
}

.dark code {
    border-color: #4e5165;
    background-color: #313640;
}
.dark .code-preview {
    border-color: #4e5165;
    background-color: #313640;
}

.dark .table {
    color: #b5b7bf;
}
.dark .table>thead>tr>th,
.dark .table>tbody>tr>td, .dark .table>tbody>tr>th, .dark .table>tfoot>tr>td, .dark .table>tfoot>tr>th, .dark .table>thead>tr>td, .dark .table>thead>tr>th{
    border-color: #4e5165;
}
.dark .page-item.disabled .page-link {
    color: #b5b7bf;
    background-color: #6d7586;
    border-color: #4e5165;
}
.dark .pagination>li>a {
    background-color: #454c58;
}
.dark .paging_simple_numbers .pagination .paginate_button, .dark .paging_simple_numbers .pagination .paginate_button:hover {
    background-color: transparent;
}
.dark .main-footer {
    background: #313640;
    color: #b5b7bf;
    border-color: #4e5165;
    height: 40px;
}
.dark .nav>li>a:active, .dark .nav>li>a:focus, .dark .nav>li>a:hover {
    color: #81848e;
}

.dark .left-block {
    border-color: #4e5165 !important;
    background-color: #414755;
}
.dark .media-list-hover > .media:not(.media-list-header):not(.media-list-footer):hover, .dark .media-list-hover .media-list-body > .media:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.dark .form-control {
    border-color: #4e5165;
}
.dark .table-bordered, .dark .table-bordered>tbody>tr>td, .dark .table-bordered>tbody>tr>th, .dark .table-bordered>tfoot>tr>td, .dark .table-bordered>tfoot>tr>th, .dark .table-bordered>thead>tr>td, .dark .table-bordered>thead>tr>th {
    border-color: #4e5165;
}

.dark .btn.btn-outline {
    color: #bcbec7;
}
.dark .btn-outline:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.2);
}
.dark .btn-outline.btn-white {
    color: #ffffff !important;
    border-color: #ffffff !important;
}
.dark .btn-outline.btn-dark {
    color: #bcbec7 !important;
    background-color: transparent;
    border-color: #465161;
}

.dark .dropdown-item:focus, .dark .dropdown-item:hover {
    background-color: #313640;
	    color: #bcbec7;
}
.dark .dropdown-grid .dropdown-item:hover {
    border-color: #414755;
}
.dark .modal-content {
    background-color: #414755;
}
.dark .modal-header, .dark .modal-footer  {
    border-color: #4e5165;
}
.dark .close {
    color: #dadada;
    text-shadow: none;
}

.dark .flex-column>li>a {
    color: #dadada;
}
.dark .box .flex-column>li {
    border-color: #4e5165;
}
.dark .mailbox-nav .nav-pills>li>a.active, .dark .mailbox-nav .nav-pills>li>a.active:focus, .dark .mailbox-nav .nav-pills>li>a.active:hover, .mailbox-nav .nav-pills>li>a:focus, .dark .mailbox-nav .nav-pills>li>a:hover {
    background: rgba(0, 0, 0, 0.2);
}
.dark .mailbox-messages table a {
    color: #b5b7bf;
}
.dark .mailbox-messages .mailbox-date {
    font-size: 12px;
    color: #b5b7bf;
}
.dark .callout .highlight, .callout code, .dark .wysihtml5-toolbar .btn-default {
    background-color: #414755;
}
.dark .mailbox-controls.with-border, .dark .mailbox-read-info {
    border-color: #4e5165;
}
.dark .mailbox-read-time {
    color: #b5b7bf;
}
.dark .mailbox-attachment-info {
    background: #313640;
}
.dark .mailbox-attachments li {
    border-color: #4e5165;
}

.dark .lookup::before {
    color: rgba(255, 255, 255, 0.4);
}
.dark .form-element .form-control, .dark .form-element .form-control:focus {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2962FF), to(#2962FF)), -webkit-gradient(linear, left top, left bottom, from(#4e5165), to(#4e5165));
    background-image: -webkit-linear-gradient(#2962FF , #2962FF), -webkit-linear-gradient(#4e5165, #4e5165);
    background-image: -o-linear-gradient(#2962FF , #2962FF), -o-linear-gradient(#4e5165, #4e5165);
    background-image: linear-gradient(#2962FF , #2962FF), linear-gradient(#4e5165, #4e5165);
}
.dark .media a:not(.btn):not(.avatar) {
    color: #dadada;
}
.dark .direct-chat-text p {
    background: #313640;
    color: #dadada;
}
.dark .direct-chat-timestamp {
    color: #a3a8ab;
}
.dark time {
    font-size: 12px;
    color: #b5b7bf;
}
.dark .input-group .input-group-addon, .dark .input-group-text {
    border-color: #4e5165;
	    color: rgba(255, 255, 255, 0.5);
    background-color: #313640;
}

.dark .wysihtml5-sandbox, .dark .wysihtml5-sandbox body.placeholder{
	background-color: #313640 !important;
	border-color: #4e5165 !important;
}

.dark .wizard-content .wizard>.steps>ul>li {
    background-color: #313640;
    border-color: #4e5165;
}

.dark ul.list-style-none li a {
    color: #dadada;
}
.dark .divider-dash {
    color: #dadada;
}

.dark .fc-toolbar .fc-center {
    color: #b5b7bf;
}
.dark .fc-button {
    background: #313640;
    border-color: #4e5165;
    color: #b5b7bf;
	text-shadow: none;
}
.dark .fc th.fc-fri, .dark .fc th.fc-mon, .dark .fc th.fc-sat, .dark .fc th.fc-sun, .dark .fc th.fc-thu, .dark .fc th.fc-tue, .dark .fc th.fc-wed {
    background: #313640;
}
.dark .fc-unthemed .fc-content, .dark .fc-unthemed .fc-divider, .dark .fc-unthemed .fc-list-heading td, .dark .fc-unthemed .fc-list-view, .dark .fc-unthemed .fc-popover, .dark .fc-unthemed .fc-row, .dark .fc-unthemed tbody, .dark .fc-unthemed td, .dark .fc-unthemed th, .dark .fc-unthemed thead {
    border-color: #4e5165;
}
.dark .fc th.fc-widget-header {
    color: #b5b7bf;
}
.dark .fc-day {
    background: #414755;
}
.dark .fc-unthemed .fc-today {
    border-color: #4e5165;
    background: #313640!important;
}

.dark .box-profile.nav-tabs-custom>.nav-tabs {
    background-color: #414755;
}

.dark .nav-tabs-custom>.nav-tabs>li>a.active:hover, .dark .nav-tabs-custom>.nav-tabs>li>a.active {
    background-color: #313640;
    color: #b5b7bf;
}
.dark .box-profile.nav-tabs-custom>.nav-tabs>li>a.active:hover, .dark .box-profile.nav-tabs-custom>.nav-tabs>li>a.active {
    color: #b5b7bf;
}
.dark .nav-tabs-custom>.nav-tabs>li>a.active {
    border-left-color: #4e5165;
    border-right-color: #4e5165;
}
.dark .media-body > p:last-child {
    color: #b5b7bf;
}
.dark .media-list-divided > .media:not(.media-list-header):not(.media-list-footer), .dark .media-list-divided .media-list-body > .media {
    border-bottom-color: rgba(255, 255, 255, 0.2);
}
.dark .publisher-multi .publisher-input {
    color: #fff;
}

.dark .user-block .description {
    color: #b5b7bf;
}
.dark .post {
    border-bottom-color: #4e5165;
    color: #b5b7bf;
}
.dark .form-element .form-control {
    color: #b5b7bf;
}

.dark .blockquote, .dark .blockquote footer {
    color: #b5b7bf;
}

.dark .progress {
    background-color: #313640;
}

.dark .ribbon-wrapper, .dark .ribbon-wrapper-reverse, .dark .ribbon-wrapper-bottom, .dark .ribbon-wrapper-right-bottom {
    background: #414755;
}

.dark .flexslider {
    background: #414755;
    border-color: transparent;
}

.dark .slider-track {
    background-color: #313640;
	background-image: -moz-linear-gradient(top, #313640, #313640);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#313640), to(#313640));
    background-image: -webkit-linear-gradient(top, #313640, #313640);
    background-image: -o-linear-gradient(top, #313640, #313640);
    background-image: linear-gradient(to bottom, #313640, #313640);
}

.dark .vtabs .tabs-vertical li .nav-link {
    color: #ffffff ;
}
.dark .tabcontent-border {
    border-color: #4e5165;
}
.dark .nav-tabs {
    border-color: #4e5165;
}
.dark .nav-tabs .nav-link {
    border-color: #4e5165;
}
.dark .nav-pills>li>a, .dark .nav-tabs .nav-link {
    color: #b5b7bf;
}
.dark .nav-pills>li>a.active, .dark .nav-tabs .nav-link.active {
    color: #ffffff !important;
}
.dark .nav-tabs-inverse-mode .nav-link.active, .dark .nav-tabs-inverse-mode .nav-link.active:focus, .dark .nav-tabs-inverse-mode .nav-link.active:hover{
    color: #b5b7bf !important;
}

.dark .timeline__post {
    background-color: #313640;
}
.dark .timeline .timeline-item > .timeline-event, .dark .timeline .timeline-item > .timeline-event.timeline-event-default {
    background: #313640;
    border-color: #4e5165;
    color: #b5b7bf;
}
.dark .timeline .timeline-item > .timeline-event:before, .dark .timeline .timeline-item > .timeline-event.timeline-event-default:before {
    border-left-color: #4e5165;
    border-right-color: #4e5165;
}
.dark .timeline .timeline-item > .timeline-event:after, .dark .timeline .timeline-item > .timeline-event.timeline-event-default:after {
    border-left-color: #313640;
    border-right-color: #313640;
}
.dark .panel {
    background-color: #313640;
}
.dark .panel-title {
    color: #b5b7bf;
}

.dark .fontawesome-icon-list .fa-hover, .ion-icon-list .ion-hover {
    color: #b5b7bf;
}
.dark .bs-glyphicons li {
    border-color: #4e5165;
    color: #b5b7bf;
}
.dark .icon-list-demo div {
    color: #b5b7bf;
}

.dark .btn-toggle:before, .btn-toggle:after {
    color: #b5b7bf;
}

.dark .pagination li a {
    color: #b5b7bf;
}
.dark .dp-off {
    background-color: #313640!important;
}
.dark .dp-divider {
    border-color: #4e5165 !important;
}

.dark .modal-fill .modal-content {
    background: rgba(65, 71, 85, 0.9);
}

.dark .modal.modal-fill {
    background: rgba(49, 54, 64, 0.9);
}
.dark .myadmin-dd .dd-list .dd-item .dd-handle, .dark .myadmin-dd-empty .dd-list .dd3-content, .dark .myadmin-dd-empty .dd-list .dd3-handle {
    background: #313640;
}
.dark .grid-stack-item-content {
    background: #313640;
    color: #b5b7bf;
}

.dark .sweet-alert {
    background-color: #313640;
}
.dark .sweet-alert h2, .dark .sweet-alert p {
    color: #b5b7bf;
}
.dark .sweet-alert .sa-icon.sa-success::before, .dark .sweet-alert .sa-icon.sa-success::after, .dark .sweet-alert .sa-icon.sa-success .sa-fix {
    background-color: #313640;
}

.dark .table-separated tbody tr {
    background-color: #4f5667;
}
.dark .dataTable input, .dark .dataTable select {
    border-color: #4e5165;
	color: #8f969c;
    background-color: #313640;
}

.dark .box .knob-label {
    color: #8f969c;
}

.dark .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}
.dark .ct-label {
    fill: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
}

.dark .invoice, .dark .invoice-details  {
    border-color: #4e5165;
    background-color: #313640;
}

.dark .product-list-in-box>.item {
    border-color: #4e5165;
}

.dark .list-group-item {    
    background-color: #414755;
}

.dark .attachment-block {
    border-color: #4e5165;
    background-color: #313640;
}

.dark .attachment-block .attachment-text {
    color: #8f969c;
}
.dark .box-comments .username {
    color: #ffffff;
}
.dark .box-comments .comment-text {
    color: #8f969c;
}

.dark .box-comments .box-comment {
    border-color: #4e5165;
}
