<!DOCTYPE html>
<html ng-app="app" ng-controller="myController"  flow-init
                                                 flow-name="obj.flow"
                                                 flow-file-added="addedFile($file, $event,$flow)"
                                                 flow-upload-started="filesubmit( $files, $event, $flow )"
                                                 flow-file-success="files($file, $message, $flow )"
                                                 flow-file-progress="fileprogress( $file, $flow )">
<head>
    <title>FTP</title>
    <script>
        var proj=localStorage.getItem("project");

    </script>
    <script src="/ftp/angular.js">



    </script>

    <script src="/ftp/ng-flow-standalone.js"></script>

    <link href="/ftp/bootstrap-combined.min.css" rel="stylesheet"/>
    <link href="/ftp/font-awesome.css" rel="stylesheet"/>
    <script src="/ftp/progressbar.js"></script>
        <script src="/ftp/jquery.js"></script>
    <link href="/ftp/toastr.css" rel="stylesheet"/>
        <script src="/ftp/toastr.js"></script>
        <script src="https:/angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
        <link href="https:/netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="https:/cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>

        <script src="/ftp/app.js"></script>
<script>

    var user=localStorage.getItem("user")
</script>
<style>
    .myProgress1 {
  width: 100%;
  background-color: #ddd;
}
.progress {
                height: 300px;
            }

            .progress > svg {
                height: 100%;
                display: block;
            }

.myProgress1 > div{
  width: 1%;
  height: 10px;
  background-color: #4CAF50;
}


.overlay {
        background-color: black;
    background-color: rgba(0,0,0,.2);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* opacity: 0.2; */
        /* also -moz-opacity, etc. */
        z-index: 100;
    }
    .progress {
        position: absolute;
        top: 50%;
        left: 50%;
        width:300px;
        height:20px;
        margin:-10px 0 0 -150px;
        z-index:101;
        opacity:1.0;
    }
    #contain {
  width: 200px;
  height: 200px;
}

.topnav {
  overflow: hidden;
  background-color: #393f4d;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0,0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:40px



}

.topnav a {
  float: left;
  color:white;
  text-align: ;
  padding: ;
  text-decoration: none;
  font-size: 17px;
}
#my {
  width: 100%;
  background-color: #D2D7D3;
}

#myB {
  width: 1%;
  height: 30px;
  background-color: green;
}
</style>
</head>
<body id="body"  flow-prevent-drop
      flow-drag-enter="style={border: '5px solid green'}"
      flow-drag-leave="style={}"
      ng-style="style">


<div class="topnav">
  <a href="" style=""><img src="/ftp/tapl_bird.png" style="width: 60px;margin-top: -1%;margin-left: -15%;height: 40px;"></a>
    <a ><p style="margin-top:8%;font-weight:700;">{{request.session.selected.name}}</p></a>
  <a href="/logout/" style="float: right;margin-top: 0.3%;margin-right: 0.7%;"><i class="fa fa-user-circle-o" style="font-size: 28px;" title="logout"></i></a>
 </div>
<div class="container">


    <hr class="soften"/>

    <div class="row">
        <div class="span6">
            <!--<h2>Buttons:</h2>-->
            <span class="btn" flow-btn><i class="icon icon-file"></i>Upload File</span>
            <span class="btn" flow-btn flow-directory ng-show="$flow.supportDirectory"><i class="icon icon-folder-open"></i>
        Upload Folder
      </span>
        </div>
    </div>

    <div id="over" style="display:none;" class="overlay mouse-events-off">

<!--        style="position:fixed;float:left;left:47%;top:30;padding:32px"-->
<div id="contain" style="margin-top:10%;margin-left:50%">   <div style="align:center"><a href="#" class="btn btn-small btn-info" id="numbers" style="position:fixed;float:left;left:50%;padding:8px"></a> <br><br><br>

<div id="my">
  <div id="myB" style="margin-left:-5%"></div>
</div>
<br>

</div></div>
<br><br><br>
        <span style="position:relative;left:48%;top:54%;">
<br><br><br><br>
                <a class="btn btn-small btn-success" ng-click="$flow.resume()">Resume Upload</a>
                        <a class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause</a>
                        <a class="btn btn-small btn-info" ng-click="cancelAll($flow)">Cancel</a>

,
                </span>
            
        </div>
    <hr class="soften">
    <h2>Transfers:</h2>

    <p>
        <a class="btn btn-small btn-success" ng-click="$flow.resume()">Initiate Upload</a>

        <span style="float:right">
            Filter Type :
            <select ng-model="selcetedfilter" id="ello"  >
                
                    <option ng-repeat="x in [{'name':'All','value':'all'},{'name':'Succeeded Files','value':'success'},{'name':'Failed Files','value':'fail'}]" value="{{x.value}}">{{x.name}}</option>


            </select>
        </span>
        <!--<span class="label label-info">Is Uploading: {{$flow.isUploading()}}</span>-->
    </p>
    <div style="overflow-y: scroll; height:400px;">
    <table class="table table-hover table-bordered table-striped" flow-transfers>
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Size</th>
            <th>Relative Path</th>
            <th>Progress</th>
            <th>Completed</th>
            <th>Chunks</th>
            <th>Settings</th>

        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="file in transfers.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter: fileList">
            <td>{{$index+1}}</td>
            <td>{{file.name}}</td>
            <td>{{formatBytes(file.size)}}</td>
            <td>{{file.relativePath}}</td>
            <td>{{file.progress()*100}}%

            </td>
            
                        <td>
                <!--{{file.isComplete()}}-->
            <div ng-if="file.isComplete()">
<!-- If block -->
                                <i class="fa fa-check" aria-hidden="true" style="color:green"></i>

            </div>
            <div ng-if="!file.isComplete()">
<!-- Your Else Block -->
                                <i class="fa fa-check" aria-hidden="true" style="color:yellow"></i>

            </div>


            </td>
            
            <td>
                {{file.chunks.length}}

            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-mini btn-warning" ng-click="file.pause()" ng-hide="file.paused">
                        Pause
                    </a>
                    <a class="btn btn-mini btn-warning" ng-click="file.resume()" ng-show="file.paused">
                        Resume
                    </a>
                    <a class="btn btn-mini btn-danger" ng-click="file.cancel()">
                        Cancel
                    </a>
                    <a class="btn btn-mini btn-info" ng-click="file.retry()" ng-show="file.error">
                        Retry
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    <pagination total-items="totalItems" ng-model="currentPage"  class="pagination-sm" items-per-page="itemsPerPage"></pagination>

    <hr class="soften"/>

    <div class="alert" flow-drop flow-drag-enter="class='alert-success'" flow-drag-leave="class=''"
         ng-class="class">
        Drag And Drop your file here
    </div>
</div>
<script>

var bar = new ProgressBar.Circle(contain, {
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  duration: 1400,
  easing: 'bounce',
  text: {
    value: '',
    alignToBottom: false
  },
  strokeWidth: 6,
  from: {color: '#f45942', a:0},
  to: {color: '#74f442', a:1},
  // Set default step function for all animate calls
  step: function(state, circle) {
    circle.path.setAttribute('stroke', state.color);
  }
});


</script>
</body>
</html>
