<header class="main-header">
    <!-- Logo -->
    <a href="index.html" class="logo">
      <!-- mini logo -->
    <div class="logo-mini">
      <span class="light-logo"><img src="../images/tapl_bird.png" alt="logo"></span>
      <span class="dark-logo"><img src="../images/tapl_bird.png" alt="logo"></span>
    </div>
      <!-- logo-->
    <div class="logo-lg">
      <span class="light-logo main-lo"><img src="../images/new-con.png" alt="logo"></span>
      <span class="dark-logo main-lo"><img src="../images/new-con.png" alt="logo"></span>
    </div>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
     <div>
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <i class="fa fa-angle-double-left icon-size" aria-hidden="true"></i>
      <span class="sr-only">Toggle navigation</span>
      </a>
      <ul class="breadcrumb top">
        <li><a href="#">Home</a></li>
      </ul>
    </div> 


   <!--  <div class="demo">
      <ul>
        <li><a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
              <span class="sr-only">Toggle navigation</span>
            </a>
        </li>
        <li class="abc"><h3>Project 1</h3></li>
      </ul>
    </div> -->
<!-- 
    <div class="demo1">
      <ul>
        <li class="top"><a href="pages/new-project.html">Create Project</a></li>
      </ul>
    </div> -->

    <div class="create-pro">
      <ul>
        <li><button type="button" class="btn btn-primary"><a href="pages/new-project.html">Create Project</a></button></li>
      </ul>
    </div>


      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
      
      <li class="search-box">
            <a class="nav-link hidden-sm-down" href="javascript:void(0)"><i class="mdi mdi-magnify"></i>
            </a>
            <form class="app-search" style="display: none;">
                <input type="text" class="form-control" placeholder="Search &amp; enter"> 
                <a class="srh-btn"><i class="ti-close"></i></a>
            </form>
          </li> 
      <!-- User Account-->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../images/avatar/7.jpg" class="user-image rounded-circle" alt="User Image">
            </a>
            <ul class="dropdown-menu animated flipInY">
              <!-- User image -->
              <li class="user-header bg-img" style="background-image: url(../images/user-info.jpg)" data-overlay="3">
          <div class="flexbox align-self-center">           
            <img src="../images/avatar/7.jpg" class="float-left rounded-circle" alt="User Image">           
          <h4 class="user-name align-self-center">
            <span>Davit</span>
            <small>davit@gmail.com</small>
          </h4>
          </div>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
            <a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-person"></i> My Profile</a>
          <a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-bag"></i> My Balance</a>
          <a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-email-unread"></i> Inbox</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-settings"></i> Account Setting</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)"><i class="ion-log-out"></i> Logout</a>
          <div class="dropdown-divider"></div>
          <div class="p-10"><a href="javascript:void(0)" class="btn btn-sm btn-rounded btn-success">View Profile</a></div>
              </li>
            </ul>
          </li>   
      
          
        </ul>
      </div>
    </nav>
  </header>